name: CI

on: [ push, pull_request ]

jobs:
  build:
    runs-on: ubuntu-24.04
    timeout-minutes: 20

    permissions:
      contents: read

    env:
      GRADLE_OPTS: "-Dfile:encoding=UTF-8"

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 11
          cache: gradle
          cache-dependency-path: |
            **/pmd-ruleset.xml

      - name: Build and Test
        run: ./ci/build.sh

      # TODO
      - name: Cleanup
        if: always()
        run: rm -rf .m2/repository/net/runelite
